body{
    background-color: azure;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.header-bg{
    background-color: #264653;
}
.clr-green{
    color: yellowgreen; 
}
.clr-orange{
    color: rgb(226, 100, 54);
}
.btn-orange{
    background-color: rgb(226, 100, 54);
}
.search-bg{
    background-color: #EBECF0;
}
.honda-img{
    filter: grayscale(100%);
} 
.rounded-card{
    border-radius: 10px;
}
