body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.header-bg{
    background-color: #876445;
}
.clr-green{
    color: yellowgreen; 
}
.clr-orange{
    color: rgb(226, 100, 54);
}
.clr-blue{
    color: rgb(16, 16, 87);
}
.orange-border-clr{
    border: 2px solid rgb(226, 100, 54) ;
}
.btn-orange{
    background-color: rgb(226, 100, 54);
}
.bike-img{
    height: 290px;
    background-color: #F1F1F1;
    border-radius: 15px;
    margin: 20px;
}
.rounded-corner{
    border-radius: 15px;
}
.search-bg{
    background-color: #EBECF0;
}
.honda-img{
    filter: grayscale(100%);
} 
.rounded-card{
    border-radius: 15px;
}
.card-shadow{
    border-radius: 20px;
    box-shadow:  5px 8px 10px gray;              
}
.custom-shadow{
    border-radius: 20px;
    box-shadow:  inset 3px 3px 6px gray,
                inset -3px -3px 6px white;              
}